* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
    text-decoration: none; 
    color: inherit; 
  }

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.wrapper {
  width: 1050px;
  margin: 0 auto;
}

:root {
    --background-color:  rgba(37, 43, 66, 1);
    --second-font-color: rgba(115, 115, 115, 1);
    --button-color: rgba(35, 166, 240, 1);
}