@media screen and (max-width: 1000px) {
  .wrapper {
    width: auto;
    margin: 0 35px;
  }

  .header {
    position: fixed;

    background-color: #252b42;
    filter: opacity(0.9);

    .wrapper {
      margin: 0 auto;

      .accordion-item {
        background-color: inherit;

        .accordion-button {
          width: fit-content;
          background-color: inherit;
          padding: 0;

          &::after {
            display: none;
          }
        }
      }
    }

    .pc-header {
      display: none;
    }

    .mobile-header {
      display: flex;
    }
  }

  .section1-container {
    background-image: linear-gradient(
        to right,
        rgba(0 0 0 / 75%),
        rgba(0 0 0 / 75%)
      ),
      url("../assets/MainCover.png");
    padding: 150px 0 80px;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;

      h1 {
        font-size: 40px;
        line-height: 57px;
      }

      h4 {
        margin-top: 40px;
      }

      .btn-wrapper {
        flex-direction: column;
        gap: 30px !important;

        width: fit-content;
        padding-left: 36px;
        padding-right: 36px;
      }
    }
  }

  .section2-container {
    .wrapper {
      flex-direction: column;
      gap: 100px;
    }
  }

  .section3-container {
    h2 {
      font-size: 40px;
    }

    .row {
      flex-direction: column;
      gap: 30px;

      .col {
        margin-left: 0;

        .user {
          display: none;
        }
      }
    }
  }

  .section4-container {
    h2 {
      font-size: 40px;
    }

    .row {
      display: grid;
    }
  }

  .pricing {
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      .pricing-title {
        margin: 0 auto;
        padding-top: 0;
      }
      .pricing-text {
        width: 271px;
        padding-bottom: 40px;
      }

      .pricing-row {
        display: flex;
        flex-direction: column;
      }

      .col-sm-4 {
        position: relative;
        width: 329px;
        margin: 0 auto;
        .new-container {
          .new {
            position: absolute;
            right: 27px;
            z-index: 1;
          }
        }
      }
      .card {
        margin-bottom: 83px;
        margin-top: 26px;
        .card-body {
          .price-container {
            flex-direction: row !important;
            .card-price {
              display: flex;
            }
            .desktop-dollor {
              display: none;
            }
            .mobile-container {
              flex-direction: column;
              padding-left: 10px;
              .card-dollor {
                display: flex;
                font-size: 14px;
                font-weight: bold;
                color: var(--button-color);
                margin-bottom: 0;
              }
              .per-month {
                display: flex;
                margin-bottom: 0;
                font-weight: normal;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .contact-us {
    background-size: cover;
    background-position-x: 52%;
    .wrapper {
      .message-input {
        .form-control {
          &.text-area {
            width: 290px !important;
          }
        }
      }
      .btn-custom {
        display: block;
        width: 290px;
      }
    }
  }

  footer {
    .footer-top {
      .wrapper {
        flex-direction: column;
        margin-bottom: 46px;

        .text-container {
          width: 250px;

          .text-bottom {
            width: 180px;
            margin-bottom: 0;
          }
        }
        .btn-custom {
          align-self: self-start;
        }
      }
    }
    .footer-middle {
      .wrapper {
        flex-direction: column;
        .link-container {
          padding: 15px 32px 15px 0;
          h4 {
            font-size: 16px;
            margin-bottom: 20px;
          }
          ul {
            padding-left: 0;
          }
          ul li {
            font-size: 14px;
            line-height: 2.5;
          }
          &.company-info {
            padding-top: 50px;
          }
          &.get-in-touch {
            .mobile-img {
              display: inline;
            }
            .desktop-img {
              display: none;
            }
          }
        }
      }
    }
    .footer-bottom {
      background: var(--background-color);
      .wrapper {
        align-items: start;
        .copyright {
          font-weight: normal;
          color: white;
          padding: 80px 130px 50px 0;
        }
        .mobile-img {
          display: flex;
          padding-bottom: 55px;
        }
        .desktop-img {
          display: none;
        }
      }
    }
  }
}
